#haus23 > header {
  margin-bottom: 1rem; }

#haus23 .navbar-brand {
  background: url("/assets/img/logo.png") no-repeat;
  padding-left: 48px;
  margin-right: 2em; }

#haus23 .topic-date {
  display: block; }
