#haus23 {

  >header {
    margin-bottom: 1rem;
  }

  .navbar-brand {
    background: url("/assets/img/logo.png") no-repeat;
    padding-left: 48px;
    margin-right: 2em;
  }

  .card > .list-group {
    font-size: 0.8em;
    .list-group-item {
      border: none;
    }
    .list-group-item:not(:first-child) {
      border-top: 1px solid #ddd;;
    }
  }
  .topic-date {
    display: block;
  }
}